@model ReportsGridViewModel
@{
    ViewData["Title"] = @Localizer["Reports_Reports"];
}

<div class="main-container">
    <div class="main-content-left">
        <div class="page-title-wrap">
            <div class="title-box">
                <h2>@Localizer["Reports_Reports"]</h2>
                <h3>@Localizer["Reports_RecentReportsHeader"]</h3>
            </div>
        </div>
        <div id="allReports">
            <partial name="_ReportsTable" model="Model" />
        </div>
    </div>
</div>