@model ApplicationUser

<header class="header">
    <div class="menu-logo-wrap">
        <div class="hamburger-menu-wrap">
            <a class="sidebar-toggle">
                <span class="icon-menu"></span>
            </a>
        </div>
        <div class="hd-logo-wrap">                  
            <a href="/"><h1>inedu</h1></a>
        </div>
    </div>
    <div class="lang-user-wrap">
        <div class="user-wrap">
            <div class="user-image-box">
                <a asp-controller="Profile" asp-action="@nameof(ProfileController.Index)" title="Profile">
                    @if (Model.ProfilePicturePath != null)
                    {
                        <img src="~/profile-pictures/@Model.ProfilePicturePath" alt="user image">
                    }
                    else
                    {
                        <img src="~/profile-pictures/@Configuration["DefaultProfilePicture"]" alt="user image">
                    }
                </a>
            </div>
        </div>
    </div>
</header>

