.person-info {
    height: 100%;
    padding: 6rem 2rem 0;
    background-color: #a1e4e8;
    text-align: center;
    box-shadow: -2px 0px 11px -2px #bfb9b9;
}

    .person-info .user-image-box {
        position: relative;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        margin: 0 auto 2rem;
    }

        .person-info .user-image-box img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #205276;
            padding: 2px;
        }

    .person-info .no-user-image-wrap {
        margin-bottom: 2rem;
    }

        .person-info .no-user-image-wrap span {
            color: #205276;
            font-size: 9rem;
        }

    .person-info .person-name span {
        display: block;
        margin-bottom: 1rem;
        color: #205276;
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .person-info .person-email span {
        display: block;
        margin-bottom: 1rem;
        color: #205276;
        font-size: 1.5rem;
    }

    .person-info .person-role {
        border-top: 2px solid #205276;
        padding-top: 1rem;
    }

        .person-info .person-role span {
            display: block;
            margin-bottom: 1rem;
            color: #205276;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
        }

    .person-info .date-wrap {
        display: inline-flex;
        align-items: baseline;
        justify-content: center;
        padding: 0.5rem 1.5rem 1rem;
        border: 2px solid #165895;
    }

        .person-info .date-wrap .today-text {
            margin-right: 0.5rem;
            color: #08273d;
            font-size: 2.5rem;
            font-weight: 700;
        }

        .person-info .date-wrap .week-day {
            margin-right: 0.5rem;
            color: #205276;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        .person-info .date-wrap .current-day {
            color: #205276;
            font-size: 3rem;
        }

    .person-info .time-wrap {
        width: 10rem;
        margin: -1.5rem auto 0;
        padding: 0.5rem 1rem;
        background-color: #165895;
        color: #08273d;
        font-size: 1.5rem;
        font-weight: 700;
    }

.form-wrap {
    position: relative;
    width: 100%;
    max-width: 55rem;
    margin: 5rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 16px #bebebe;
    padding: 1.8rem 2rem;
    background-color: #f2f2f2;
    text-align: center;
}

    .form-wrap .logo-box {
        margin-bottom: 2rem;
    }

        .form-wrap .logo-box .login-OCP-logo {
            max-width: 12rem;
            margin-bottom: 0.5rem;
        }

    .form-wrap .bottom-logos-box {
        margin-top: 3rem;
    }

        .form-wrap .bottom-logos-box .en-eu-logo {
            max-width: 18rem;
            margin-bottom: 0.5rem;
        }

    .form-wrap .form-title {
        margin-bottom: 2rem;
    }

    .form-wrap .form-register-link-wrap {
        margin-bottom: 2rem;
    }

        .form-wrap .form-register-link-wrap p {
            margin-bottom: 0;
            line-height: 1.6;
        }

            .form-wrap .form-register-link-wrap p a {
                display: inline-block;
                color: #165895;
            }

                .form-wrap .form-register-link-wrap p a:hover {
                    text-decoration: underline;
                }

    .form-wrap .form-chekc-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .form-wrap .forgotten-pass-wrap a {
        display: inline-block;
        color: #165895;
        font-size: 1.5rem;
    }

        .form-wrap .forgotten-pass-wrap a:hover {
            text-decoration: underline;
        }

    .form-wrap .lang-user-wrap {
        display: flex;
        align-items: center;
    }

        .form-wrap .lang-user-wrap ul {
            margin: 0;
            padding: 0;
            display: none;
            background-color: #f2f2f2;
            position: absolute;
            z-index: 2;
            top: 2.7rem;
            left: -50%;
            width: 11rem;
        }

            .form-wrap .lang-user-wrap ul li {
                margin: 0.5rem;
            }

                .form-wrap .lang-user-wrap ul li:hover {
                    background-color: #205276;
                }

                    .form-wrap .lang-user-wrap ul li:hover a {
                        color: #fff;
                    }

                .form-wrap .lang-user-wrap ul li a {
                    color: inherit;
                    font-size: 1.3rem;
                }

                    .form-wrap .lang-user-wrap ul li a:hover {
                        color: #fff;
                    }

    .form-wrap .selected-lang {
        padding: 0.5rem 1rem;
        background-color: #205276;
        color: #fff;
        font-size: 1.5rem;
    }

.schedule-wrap {
    margin-top: 3rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f2f2f2;
}

    .schedule-wrap h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .schedule-wrap .schedule-date-wrap .sch-day, .schedule-wrap .schedule-date-wrap .sch-current-date {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;
        color: #000;
        font-size: 1.5rem;
    }

    .schedule-wrap .sch-card-item {
        padding: 1.5rem;
    }

        .schedule-wrap .sch-card-item.sch-today-item {
            background-color: #165895;
        }

        .schedule-wrap .sch-card-item.sch-upcoming-item {
            background-color: #5bbabf;
        }

        .schedule-wrap .sch-card-item.sch-recent-item {
            background-color: #a1e4e8;
        }

    .schedule-wrap .meeting-time span {
        margin-bottom: 0.5rem;
        color: #08273d;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .schedule-wrap .mentor-name span, .schedule-wrap .booked-by span {
        color: #000;
        font-size: 1.4rem;
    }

    .schedule-wrap .mentor-name a, .schedule-wrap .booked-by a {
        display: inline-block;
        color: #205276;
        font-size: 1.4rem;
        text-decoration: underline;
    }

        .schedule-wrap .mentor-name a:hover, .schedule-wrap .booked-by a:hover {
            text-decoration: none;
        }

    .schedule-wrap .most-recent-meetings-wrap {
        margin-top: 2rem;
        border-top: 1px solid #8d8d8d;
        padding-top: 2rem;
    }

        .schedule-wrap .most-recent-meetings-wrap .mentor-name span, .schedule-wrap .most-recent-meetings-wrap .booked-by span {
            color: #000;
            font-size: 1.4rem;
        }

.mentor-updates-wrap {
    margin-top: 3rem;
    padding-right: 2rem;
}

    .mentor-updates-wrap h3 {
        font-size: 1.75rem;
    }

    .mentor-updates-wrap h4 {
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .mentor-updates-wrap .mentor-update-item {
        border-radius: 0.5rem;
        padding: 1.5rem;
        background-color: #a1e4e8;
    }

        .mentor-updates-wrap .mentor-update-item .mentor-date-link-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3px;
        }

            .mentor-updates-wrap .mentor-update-item .mentor-date-link-box .mentor-current-date {
                color: #205276;
                font-size: 1.2rem;
            }

            .mentor-updates-wrap .mentor-update-item .mentor-date-link-box a span {
                margin-right: 0;
                color: #205276;
                font-size: 1.4rem;
            }

        .mentor-updates-wrap .mentor-update-item .published-by-wrap {
            margin-bottom: 0.4rem;
        }

            .mentor-updates-wrap .mentor-update-item .published-by-wrap span {
                display: block;
                color: #205276;
                font-size: 1.1rem;
                font-weight: 700;
                font-style: italic;
            }

        .mentor-updates-wrap .mentor-update-item .published-user-info {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
        }

            .mentor-updates-wrap .mentor-update-item .published-user-info .user-image-box {
                position: relative;
                overflow: hidden;
                width: 6em;
                height: 6rem;
                margin-right: 1.5rem;
            }

                .mentor-updates-wrap .mentor-update-item .published-user-info .user-image-box img {
                    position: absolute;
                    -o-object-fit: cover;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 2px solid #205276;
                    padding: 2px;
                }

            .mentor-updates-wrap .mentor-update-item .published-user-info .user-info-box {
                text-align: center;
            }

                .mentor-updates-wrap .mentor-update-item .published-user-info .user-info-box .mentor-name-box {
                    margin-bottom: 0.3rem;
                    color: #000;
                    font-weight: 700;
                }

                .mentor-updates-wrap .mentor-update-item .published-user-info .user-info-box .mentor-email-box {
                    margin-bottom: 0;
                    color: #205276;
                }

.page-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.profile-img-wrap {
    -webkit-box-shadow: 0 0 10px #bfb9b9;
    box-shadow: 0 0 10px #bfb9b9;
    padding: 2rem;
    text-align: center;
}

    .profile-img-wrap .user-image-box {
        position: relative;
        overflow: hidden;
        width: 20rem;
        height: 20rem;
        margin: auto;
    }

        .profile-img-wrap .user-image-box img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

    .profile-img-wrap .person-name {
        margin-bottom: 1rem;
    }

        .profile-img-wrap .person-name span {
            color: #205276;
            font-size: 2.7rem;
        }

.profile-img-wrap .person-email {
    margin-bottom: 1.5rem;
}

    .profile-img-wrap .person-email span {
        color: #000;
        font-size: 2.2rem;
    }

.profile-details-wrap {
    -webkit-box-shadow: 0 0 10px #bfb9b9;
    box-shadow: 0 0 10px #bfb9b9;
    padding: 1.5rem 1rem 2rem;
}

    .profile-details-wrap .sub-title-4 {
        margin-bottom: 2.5rem;
    }

    .profile-details-wrap .btn-toggle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.switch-wrap {
    display: flex;
    align-items: center;
}

    .switch-wrap h5 {
        margin: 0 1.5rem 0 0;
        color: #000;
        font-size: 1.5rem;
    }

.inner-form {
    margin-bottom: 3rem;
}

.user-card .user-image-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

    .user-card .user-image-box img {
        position: absolute;
        -o-object-fit: cover;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

.feedback-card {
    display: flex;
}

@media (max-width: 1199px) {
    .feedback-card {
        flex-direction: column;
    }
}

.feedback-card .feedback-img-wrap {
    width: 100%;
    max-width: 28rem;
    margin-right: 2rem;
}

@media (max-width: 1199px) {
    .feedback-card .feedback-img-wrap {
        max-width: unset;
        margin-right: 0;
        text-align: center;
    }
}

.feedback-card .feedback-content-wrap {
    width: 78%;
    padding-left: 2rem;
    border-left: 2px solid #205276;
}

@media (max-width: 1199px) {
    .feedback-card .feedback-content-wrap {
        width: 100%;
        border-left: none;
        border-top: 2px solid #205276;
        padding: 2rem 0 0 0;
    }
}

.feedback-card .user-image-box {
    position: relative;
    overflow: hidden;
    width: 8rem;
    height: 8rem;
}

@media (max-width: 1199px) {
    .feedback-card .user-image-box {
        margin: 0 auto;
    }
}

.feedback-card .user-image-box img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 1199px) {
    .feedback-card .feedback-info {
        flex-direction: column;
    }
}

.progress {
    height: 1.5rem;
}
/****** Style Star Rating Widget *****/
.leave-a-review-wrap fieldset {
    width: 18rem;
}

.myratings {
    font-size: 85px;
    color: #8d8d8d;
}

.rating > [id^=star] {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > [id^=star]:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #8d8d8d;
}

    /* hover previous stars in list */
    .rating > [id^=star]:checked + label:hover,
    .rating > [id^=star]:checked ~ label:hover,
    .rating > label:hover ~ [id^=star]:checked ~ label,
    .rating > [id^=star]:checked ~ label:hover ~ label {
        color: #205276;
    }

.calendar-wrap {
    width: 1190px;
    margin-bottom: 5rem;
    overflow: auto;
}

    .calendar-wrap .calendar-year-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .calendar-wrap .calendar-year-wrap .fa {
            margin-right: 0;
            font-size: 1.5rem;
        }

        .calendar-wrap .calendar-year-wrap.calendar-controls a {
            cursor: pointer;
        }

    .calendar-wrap .calendar-info-wrap {
        padding: 2rem 1rem;
    }

    .calendar-wrap .calendar-currentday-wrap {
        text-align: right;
    }

        .calendar-wrap .calendar-currentday-wrap span {
            border: 1px solid #205276;
            padding: 5px 8px;
            font-size: 1.7rem;
            color: #205276;
        }

    .calendar-wrap .calendar-weekday-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

        .calendar-wrap .calendar-weekday-wrap .weekday-box {
            width: 17rem;
            padding: 1.5rem 0.5rem;
            background-color: #165895;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
        }

    .calendar-wrap .calendar-items-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

        .calendar-wrap .calendar-items-wrap .calendar-item {
            width: 17rem;
            height: 13rem;
            border: 1px solid #f2f2f2;
            overflow-y: auto;
        }

            .calendar-wrap .calendar-items-wrap .calendar-item .current-day {
                display: block;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                text-align: right;
                color: #8d8d8d;
                font-size: 1.4rem;
            }

            .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box {
                background-color: #5bbabf;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
            }

                .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box.past-calendar-meeting, .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box.upcoming-calendar-meeting {
                    background-color: #a1e4e8;
                }

                .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box:last-child {
                    margin-bottom: 0;
                }

                .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box .meeting-time {
                    margin-bottom: 0.5rem;
                }

                    .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box .meeting-time span {
                        color: #000;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }

                .calendar-wrap .calendar-items-wrap .calendar-item .calendar-meeting-box .person-name span {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 700;
                }

.table-wrap .table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.table-wrap th, .table-wrap td {
    text-align: left;
    padding: 8px;
    font-size: 1.7rem;
}

.table-wrap th {
    font-weight: 700;
    color: #205276;
}

.table-wrap tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrap thead {
    background-color: #a1e4e8;
}

.pagination-wrap {
    margin: 3rem 0;
}

    .pagination-wrap .pagination {
        justify-content: center;
    }

        .pagination-wrap .pagination .page-link {
            color: #205276;
            padding: 0.4rem 1rem;
            font-size: 1.4rem;
        }

        .pagination-wrap .pagination .page-item.active .page-link {
            background-color: #a1e4e8;
            border-color: #a1e4e8;
        }
